.container {
  display: flex;
  user-select: none;
}
.buysection {
  margin-top: 4rem;
}
.image {
  margin-top: 2rem;
  height: 80vh;
}
.name {
  font-size: 4rem;
}
.price {
  margin-top: 5rem;
  font-size: 2rem;
  color: rgb(54, 54, 54);
}
.btncontainer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  width: 40%;
  align-items: center;
}
.buy {
  background-color: #fc5d5d;
  color: aliceblue;
  padding: 8px 16px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  width: max-content;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all ease 0.5s;
}
.buy:hover {
  box-shadow: 1px 1px 8px #fc5d5d;
}
.cart {
  border: 2px solid #fc5d5d;
  color: #fc5d5d;
  padding: 8px 16px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  width: max-content;
  border-radius: 4px;
  cursor: pointer;
  transition: all ease 0.5s;
}
.dummytext {
  margin-top: 3rem;
  line-height: 3rem;
  font-size: large;
  font-weight: bold;
  color: green;
}
.description{
    margin-top: 2rem;
    font-size: 1.8rem;
    color: rgb(54, 54, 54);
}
.lorem{
    margin-top: 2rem;
    width: 50%;
    line-height: 1.8rem;
    font-size: 1.2rem;
    color: rgb(97, 96, 96);
}